*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color : greenyellow;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background: black;
}

header {
    background: #212121;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

}

#title-name{ 
    float: left;
    margin-top:2.5px;
    margin-bottom: 2.5px;
    margin-left: 2.5px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
#menu-icon {

    display:none;

}
nav{
    float: right;
    padding: 20px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding-right: 10px;
}
li > *{
    vertical-align: middle;
}
.about{
    height: 100vh;
    position: relative;
}
#welcome-text{
    margin-top: 100px;
    text-align: center;
}
#content-text{
    text-align: center;
    align-self: center;
    justify-content: center;
    /* margin-top: 100px;
    padding: 10px; */
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.random-image{
    width:100px;
    height:auto;
}
#android-image{
    
    transform:rotate(-50deg);
    position: absolute;
    top:90px;
    left:20px;
}
#react-image{
    /* transform:rotate(-50deg); */
    position: absolute;
    top:90px;
    right:40px;
}
.projects{
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}
.card{
    position: relative;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 300px;
    height: auto;
    margin:20px;
    /* box-shadow: 0 4px 8px 0 whitesmoke; */
    background: white;
    /* border-radius: 5%; */
    padding: 20px;
}
.card-image{
    width: 100%;
    height: 300px;
}
.card-text{
    color: black;
}

@media only screen and (max-width : 640px)  {
    header {
		position: absolute;
	}

	#menu-icon {
        display:inline-block;
        color:white;
        text-decoration: none;
        font-size: 1.5em;
	}
	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
        background: #212121;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	nav:hover ul {
		display: block;
    }
    
    #android-image{
        display: none;
    }
    #react-image{
       display: none;
    }
  }

