*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color : greenyellow;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background: black;
}

.header-div{
    height: 7vh;
    position: fixed;
    width:100%;
}
#title-name{ 
    position: absolute;
    float: left;
    left:2%;
    top:10%;
}
ul{
    list-style: none;
    position: absolute;
    left : 50%;
    top:10%;
    transform: translate(-50%);
}

li{
    float:left;
    margin-right: 15px;
    color:green;
   
}

li > *{
    vertical-align: middle;
    display: inline-block;
}

#selected_li{
    border-bottom: 3px solid red;
}

.projects-div{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
.card{
    box-shadow: 0 4px 8px 0 rgb(255, 0, 0, 0.2);
    transition:0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.container {
    padding: 2px 16px;
}

.card_image{
    width: 100%;
}

